In [58]:
import pandas as pd
import numpy as np
file = '/Users/ryanr/Desktop/PS_2020.08.14_11.25.13NoHeader.csv'
df = pd.read_csv(file)
planets = df['pl_name'].unique()
colated = pd.DataFrame(columns=df.keys())
for planet in planets:
    temp = df.iloc[df['pl_name'].values == planet]
    nans = []
    for i in range(len(temp)):
        nans += [np.nansum(pd.isnull(temp.iloc[i]).values)]
    nans = np.array(nans)
    ind = np.argmin(nans)
    good = temp.iloc[ind]
    inds = np.where(pd.isnull(good).values)[0]
    if len(inds) > 0:
        for j in inds:
            replacements = temp.iloc[:,j]
            if np.sum(pd.notnull(replacements).values) > 0 :
                good.iloc[i] = replacements.iloc[pd.notnull(replacements).values].values[0]
                # make some choice here 
    colated = colated.append(good)

/Users/ryanr/miniconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/ryanr/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [63]:
colated.to_csv('Collated.csv',index=False)

In [61]:
len(planets)

842

In [62]:
good

pl_name                                                   pi Men c
default_flag                                                     1
disc_facility         Transiting Exoplanet Survey Satellite (TESS)
tran_flag                                                        1
pl_refname       <a refstr=HUANG_ET_AL__2018 href=https://ui.ad...
pl_orbper                                                   6.2679
pl_orbsmax                                                 0.06839
pl_rade                                                      2.042
pl_radj                                                      0.182
pl_masse                                                      4.82
pl_massj                                                   0.01517
pl_msinie                                                      NaN
pl_msinij                                                      NaN
pl_bmasse                                                     4.82
pl_bmassj                                                  0.01517
pl_bmassprov                                                  Mass
pl_orbeccen                                                      0
pl_insol                                                       309
pl_eqt                                                        1170
pl_orbincl                                                  87.456
pl_imppar                                                     0.59
pl_trandep                                                    0.03
pl_trandur                                                   2.953
pl_ratror                                                  0.01703
st_refname       <a refstr=HUANG_ET_AL__2018 href=https://ui.ad...
st_spectype                                                   G0 V
st_teff                                                       6037
st_rad                                                         1.1
st_mass                                                       1.09
st_met                                                        0.08
st_metratio                                                 [Fe/H]
st_logg                                                       4.42
sy_refname       <a refstr=STASSUN_ET_AL__2019 href=https://ui....
rastr                                                 05h37m11.83s
ra                                                         84.2993
decstr                                               -80d27m52.57s
dec                                                       -80.4646
sy_bmag                                                      6.252
sy_vmag                                                       5.65
sy_jmag                                                      4.869
sy_hmag                                                      4.424
sy_kmag                                                      4.241
sy_umag                                                        NaN
sy_gmag                                                        NaN
sy_rmag                                                        NaN
sy_imag                                                        NaN
sy_gaiamag                                                  5.5128
rowupdate                                      2018-11-12 20:22:34
pl_pubdate                                                 2018-12
releasedate                                             2018-11-15
Name: 2860, dtype: object

In [37]:
replacements[pd.notnull(replacements).values[0]]

ValueError: Item wrong length 6 instead of 3.

In [38]:
replacements

   pl_insol st_spectype  sy_umag  sy_gmag  sy_rmag  sy_imag
0       NaN        G8 V      NaN      NaN      NaN      NaN
1       NaN         NaN      NaN      NaN      NaN      NaN
2       NaN         NaN      NaN      NaN      NaN      NaN

In [44]:
temp.iloc[:,i]

   pl_insol st_spectype  sy_umag  sy_gmag  sy_rmag  sy_imag
0       NaN        G8 V      NaN      NaN      NaN      NaN
1       NaN         NaN      NaN      NaN      NaN      NaN
2       NaN         NaN      NaN      NaN      NaN      NaN

In [45]:
i

array([17, 25, 42, 43, 44, 45])

In [46]:
inds

(array([17, 25, 42, 43, 44, 45]),)